<ion-header>
  <ion-toolbar>
    <ion-title routerLink="/home">Homem de Toronto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eLnKUqe9LXQ?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-content>
      Woody Harrelson vive o papel de “O Homem de Toronto”, conhecido mundialmente como o assassino mais sombrio do mundo e por resolver qualquer questão. Portanto ele trabalha por dinheiro e seus clientes, são Gangsters que precisam resolver uma questão a qualquer custo. Não é um maluco que sai agredindo tudo por aí.
    </ion-card-content>
  </ion-card>
</ion-content>
