<ion-header>
  <ion-toolbar>
    <ion-title routerLink="/home">Minions 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/84KauQ4KN74?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-content>
      Nos anos 1970, o jovem Gru tenta entrar para um time de supervilões, mas a entrevista é desastrosa e ele e seus minions acabam fugindo do grupo de mal-feitores.
    </ion-card-content>
  </ion-card>
</ion-content>
