<ion-header>
  <ion-toolbar>
    <ion-title routerLink="/home">Doutor Estranho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

    </ion-card-header>
<iframe width="560" height="315" src="https://www.youtube.com/embed/X23XCFgdh2M?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <ion-card-content>
      Além de receber ajuda de novos aliados místicos e outros já conhecidos do público, o personagem atravessa as realidades alternativas incompreensíveis e perigosas do Multiverso para enfrentar um novo e misterioso adversário.
    </ion-card-content>
  </ion-card>
</ion-content>
