<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item routerLink="/vzfs5">
    <ion-thumbnail slot="start">
      <img
        src="https://www.themoviedb.org/t/p/w94_and_h141_bestv2/l1lvu5P4xfBicxuhgL0pmvkWReO.jpg"
        alt=""
      />
    </ion-thumbnail>
    <div class="teste">
      <ion-label
        >Velozes & Furiosos 5
        <ion-badge color="warning" slot="end">12</ion-badge>
        <ion-label>
          <p>20/04/2011 2h 10m</p>
        </ion-label>
      </ion-label>

      <div class="categoria">
        <ion-chip color="primary">
          <ion-label>Ação</ion-label>
        </ion-chip>
        <ion-chip color="ra">
          <ion-label>Corrida</ion-label>
        </ion-chip>
        <ion-chip color="ca">
          <ion-label>Roubo</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-item>
</ion-content>
