<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar showCancelButton="never" color="aaa" placeholder="Pesquisar"></ion-searchbar>
  <ion-item routerLink="/vzfs5">
    <ion-thumbnail slot="start">
      <img
        src="https://www.themoviedb.org/t/p/w94_and_h141_bestv2/l1lvu5P4xfBicxuhgL0pmvkWReO.jpg"
        alt=""
      />
    </ion-thumbnail>
    <div class="teste">
      <ion-label
        >Velozes & Furiosos 5
        <ion-badge color="warning" slot="end">12</ion-badge>
        <ion-label>
          <p>20/04/2011 2h 10m</p>
        </ion-label>
      </ion-label>

      <div class="categoria">
        <ion-chip color="ação">
          <ion-label>Ação</ion-label>
        </ion-chip>
        <ion-chip color="corrida">
          <ion-label>Corrida</ion-label>
        </ion-chip>
        <ion-chip color="roubo">
          <ion-label>Roubo</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-item>

  <ion-item routerLink="/minions2">
    <ion-thumbnail slot="start">
      <img
        src="https://www.themoviedb.org/t/p/w220_and_h330_face/tzFAboMUGJKoPQEtlxfxbbYsSWa.jpg"
        alt=""
      />
    </ion-thumbnail>
    <div class="teste">
      <ion-label
        >Minions 2: A origem de Gru
        <ion-badge color="success" slot="end"> L</ion-badge>
        <ion-label>
          <p>29/06/2022 1h 27m</p>
        </ion-label>
      </ion-label>

      <div class="categoria">
        <ion-chip color="roxin">
          <ion-label>Animação</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>Aventura</ion-label>
        </ion-chip>
        <ion-chip color="warning">
          <ion-label>Comédia</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-item>

  <ion-item routerLink="/homemtoronto">
    <ion-thumbnail slot="start">
      <img
        src="https://www.themoviedb.org/t/p/w220_and_h330_face/A7WtrzlvLAhdmXObY9aZCRhtAMs.jpg"
        alt=""
      />
    </ion-thumbnail>

    <div class="teste">
      <ion-label
        >Homem de Toronto <ion-badge color="ação" slot="end">14</ion-badge>
        <ion-label>
          <p>24/06/2022 1h 50m</p>
        </ion-label>
      </ion-label>

      <div class="categoria">
        <ion-chip color="ação">
          <ion-label>Ação </ion-label>
        </ion-chip>
        <ion-chip color="warning">
          <ion-label>Comédia</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-item>

  <ion-item routerLink="/deadpool">
    <ion-thumbnail slot="start">
      <img
        src="https://www.themoviedb.org/t/p/w220_and_h330_face/zq8Cl3PNIDGU3iWNRoc5nEZ6pCe.jpg"
        alt=""
      />
    </ion-thumbnail>
    <div class="teste">
      <ion-label
        >Deadpool
        <ion-badge color="danger" slot="end"> 16</ion-badge>
        <ion-label>
          <p>9/02/2016 1h 47m</p>
        </ion-label>
      </ion-label>

      <div class="categoria">
        <ion-chip color="ação">
          <ion-label> Ação</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label> Aventura</ion-label>
        </ion-chip>
        <ion-chip color="warning">
          <ion-label> Comédia</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-item>

  <ion-item routerLink="/homemaranha">
    <ion-thumbnail slot="start">
      <img
        src="https://www.themoviedb.org/t/p/w220_and_h330_face/fVzXp3NwovUlLe7fvoRynCmBPNc.jpg"
        alt=""
      />
    </ion-thumbnail>
    <div class="teste">
      <ion-label
        >Homem Aranha: Sem volta para a casa
        <ion-badge color="warning" slot="end">12</ion-badge>
        <ion-label>
          <p>15/12/2021 2h 29m</p>
        </ion-label>
      </ion-label>

      <div class="categoria">
        <ion-chip color="ação">
          <ion-label>Ação</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>Aventura</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-item>

  <ion-item routerLink="/doutorestranho">
    <ion-thumbnail slot="start">
      <img
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iUISaZpTOjrjzlmodz0RhCDJSWB.jpg"
        alt=""
      />
    </ion-thumbnail>

    <div class="teste">
      <ion-label
        >Doutor Estranho: Multiverso da Loucura
        <ion-badge color="ação" slot="end">14</ion-badge>
        <ion-label>
          <p>05/05/2022 2h 6m</p>
        </ion-label>
      </ion-label>

      <div class="categoria">
        <ion-chip color="ação">
          <ion-label>Ação</ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>Aventura</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-item>
</ion-content>
