<ion-header>
  <ion-toolbar>
    <ion-title routerLink="/home">Deadpool</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>

  </ion-card-header>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Q9X-bAE8KTc?start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <ion-card-content>
    Ex-militar e mercenário, Wade Wilson (Ryan Reynolds) é diagnosticado com câncer em estado terminal, porém encontra uma possibilidade de cura em uma sinistra experiência científica. Recuperado, com poderes e um incomum senso de humor, ele torna-se Deadpool e busca vingança contra o homem que destruiu sua vida.
  </ion-card-content>
</ion-card>
<ion-content>

</ion-content>
